@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Syne:wght@500;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f1e8d6;
}

.navbar {
    background-color: #64e2ad;
    margin-bottom: 4%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Syne', sans-serif;
}

.card {
    border: 1px;
    background-color: lightgray;
    box-shadow: 10px 10px 5px grey;
}

.card:hover {
    box-shadow: 10px 10px 5px #9b5e78;
}

.card a {
    text-decoration: none;
    color: black;
}

.image-container {
    position: relative;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

#add-book {
    text-decoration: none;
    font-size: 1.5rem;
    background-color: #10b16e;
    padding: 9px 10px;
    border: none;
    border-radius: 50px;
    color: #cbf1e1;
    text-decoration: none;
}
