{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}

<!-- book form container with bookstrap margin on top and bottom -->
<div class="container-fluid col-sm-6 mt-5 mb-5">
  <h1>Your Book's Details</h1>
  <div class="row">
    {% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
      <!-- add csrf token and crispy forms -->
      {% csrf_token %} {% crispy form %}
    </form>
    {% endif %}
  </div>
</div>

{% endblock content %}
