{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Container for the div storing the deletion form -->
<div class="container-fluid col-sm-6 mt-5 mb-5 text-center">
<form method="post">{% csrf_token %}

    <h3 class="py-5">Are you sure you want to delete "{{ object.title }}"?</h3>
    <!-- button to confirm and proceed with deletion -->
    <input class="btn btn-danger" type="submit" value="Delete">
    <!-- cancel button to revert back to the previous page in the window history, sourced from the link below -->
    <!-- https://snakeycode.wordpress.com/2016/08/25/add-a-cancel-button-to-django-delete-confirm-template/ -->
    <button onclick="window.history.back();" class="btn btn-info" type="button">Cancel</button>
</form>
</div>

{% endblock content %}