{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container">
  <div class="row p-5 d-flex justify-content-around">
    <div class="col-sm-4">
      <div class="image-container img-fluid">
        {% if "placeholder" in book.book_image.url %}
        <img class="book-image"
          src="https://res.cloudinary.com/dygj0wxf0/image/upload/v1700072067/placeholder-image_hjgthw.jpg"
          alt="Book Placeholder Image"
        />
        {% else %}
        <img class="card-img-top" src="{{ book.book_image.url }}" alt="Image for {{ book.title }}" />
        {% endif %}
      </div>
    </div>
    <div class="col-sm-6">
        <h2>{{ book.title }} - {{ book.book_author }} </h2>
        <h5>{{ book.post_owner }} | {{ book.created_on }}</h5>
        <!-- Display instance to show the string value of the choice field -->
        <!-- https://docs.djangoproject.com/en/4.2/ref/models/instances/ -->
        <span><strong>Condition:</strong> {{ book.get_condition_display }}</span>
        <br>
        <span><strong>Genre:</strong> {{ book.genre }}</span>
        <p class="book-text">{{ book.description | safe}}</p>
        <!-- The user can only view the contact details of the owner -->
        <!-- if they are logged in/authenticated -->
        <!-- If the book has been reserved, contact details are not available -->
        {% if book.reserved == True %}
        <span class="reserved"><strong>This book has been reserved</strong></span>
        {% elif user.is_authenticated %}
        <div class="contact-details">
            <span class="email"><strong>Email:</strong> {{ book.owner_email }}</span>
            <span class="phone"><strong>Tel:</strong> {{ book.owner_phone }}</span>
        </div>
        {% else %}
            <div class="contact-details">
                <span class="contact-auth">
                To view {{ book.post_owner }}'s contact details please
                <a href="{% url 'account_signup' %}">Signup</a>/<a href="{% url 'account_login' %}">Login</a>
                </span>
            </div>
        {% endif %}
        {% if book.post_owner == request.user %}
        <div class="ud-container">
        <a href="{% url 'book_update' slug=book.slug %}" class="btn btn-secondary btn-sm">Edit</a>
        <a href="{% url 'book_delete' slug=book.slug %}" class="btn btn-danger btn-sm">Delete</a>
        </div>
        {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
