{% extends "base.html" %} {% block content %} {% load static %}

<!-- hero image and mission statement -->
<div class="bg-image vh-100 hero-img">
    <div id="mission-statement">
        <h1>BookSwap</h1>
        <h2>Bringing readers together!</h2>
    </div>
</div>
<!-- section to detail the purpose of the website -->
<section class="container-fluid bswap-info">
    <div id="info-container">
    <h1>
        What is BookSwap?
    </h1>
    <p>
        BookSwap is an online community to bring readers together through swapping books.
        <br>
        <!-- link to the sign up page, to encourage users to join -->
        <a href="{% url 'account_signup' %}">Sign Up</a> today to post your books and contact users you'd like to swap with!
    </p>
    </div>
</section>
<!-- section for the book posts -->
<section class="container-fluid">
    <div class="link-container">
        <a href="/add-book" id="add-book">Add Your Book</a>
    </div>
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-12 mt-3 left">
      <div class="row">
        <!-- loop through each book post -->
        {% for book in book_list %}
        <div class="col-md-3">
          <div class="card mb-3">
            <!-- link to click into the detailed post -->
            <a href="{% url 'book_detail' book.slug %}">
              <div class="card-body">
                <div class="image-container">
                  {% if "placeholder" in book.book_image.url %}
                  <img
                    src="https://res.cloudinary.com/dygj0wxf0/image/upload/v1700072067/placeholder-image_hjgthw.jpg"
                    alt="Book Placeholder Image"
                  />
                  {% else %}
                  <img class="card-img-top" src=" {{ book.book_image.url }}" alt="Image for {{ book.title }}" />
                  {% endif %}
                </div>
                <h2 class="card-title">{{ book.title }}</h2>
                <h4 class="book-author">{{ book.book_author }}</h4>
                <span class="posted">{{ book.post_owner }} | {{ book.created_on }}</span>
                {% if book.reserved == True %}
                <br>
                <span class="reserved"><strong>This book has been reserved</strong></span>
                {% endif %}
                <!-- if the current user is the owner of the post, they can see the edit and delete buttons -->
                {% if book.post_owner == request.user %}
                <div class="ud-container">
                    <a href="{% url 'book_update' slug=book.slug %}" class="btn btn-secondary">Edit</a>
                    <a href="{% url 'book_delete' slug=book.slug %}" class="btn btn-danger">Delete</a>
                </div>
                {% endif %}
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      {%endblock%}
    </div>
  </div>
</section>
